<nav class="navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand">Mediyun</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav ml-auto">
            <div class="nav-item" style="padding-left: 25px; padding-right: 20px; color: white;">
                <i class="fa fa-user" aria-hidden="true"></i> Hello, <span id="username"></span>
            </div>
            <div class="nav-item">
                <button class="btn-log-out" id="signOut">Log Out</button>
            </div>
        </div>
    </div>
</nav>