<div class="container">
    <div class="row">
        <div class="content-row" *ngFor="let content of contents">
            <div class="row">
                <div class="col-md-3">
                    <img class="content-img" src={{content.gambar}}>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-10">
                            <a 
                                [routerLink]="['detail/'+content._id]">
                                <h2>{{ content.title }}</h2>
                            </a>
                        </div>
                        <div class="col-md-2" *ngIf="isShowButton">
                            <a 
                                [routerLink]="['edit/'+content?._id]"
                                data-toggle="tooltip" 
                                data-placement="top" 
                                title="edit content">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a> &nbsp;
                            <a 
                                (click)="deleteContent(content._id)"
                                data-toggle="tooltip" 
                                data-placement="top" 
                                title="delete content">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="row publisher">
                        <div class="col-md-6">
                            creator: {{ content.creator.name }}
                        </div>
                        <div class="col-md-6">
                            publish: {{ content.createdAt | date: 'short' }}
                        </div>
                    </div>
                    <div class="content-desc">
                      <div [innerHTML]="content.content | ellipsis:400"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>